@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body,html{
height:100%;
}

input{
outline:none;
border:1px solid #eee}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #28a745;
    border-color: #28a745;
}

.wrapper{
  background: url('../../../../public/img/bg4.jpg');
  background-repeat: no-repeat;   /* Không lặp lại hình */
  background-size: cover;        /* Ảnh phủ kín màn hình */
  background-position: center;
}

.signup-page {
  background: url('../../../../public/img/bg4.jpg');
  background-repeat: no-repeat;   /* Không lặp lại hình */
  background-size: cover;        /* Ảnh phủ kín màn hình */
  background-position: center;
}


body {
    color: #656668;
    font-size: .8rem;
    background-color: #e9ecef;
    padding-bottom: 50px;
}

.container{
    max-width: 1600px !important;
}


a {
    color: #0ca4ca;
    text-decoration: none;
}


.m0 {
  margin:0px !important;
}

.m3 {
  margin:3px !important;
}


.m5 {
  margin:5px !important;
}

.m10{
  margin:10px !important;
}
.m15{
    margin:15px !important;
  }
.m20 {
  margin:20px !important;
}

.m50 {
    margin:50px !important;
  }

.m-bot0{
  margin-bottom: 0px !important;
}

.m-bot-50{
  margin-bottom: -50px !important;
}

.m-bot5{
  margin-bottom: 5px !important;
}

.m-bot10{
  margin-bottom: 10px !important;
}

.m-bot20{
  margin-bottom: 20px !important;
}

.m-bot30{
  margin-bottom: 30px !important;
}

.m-bot40{
  margin-bottom: 40px !important;
}

.m-bot50{
  margin-bottom: 50px !important;
}

.m-bot60{
  margin-bottom: 60px !important;
}

.m-1{
  margin: -1px !important;
}

.m-top0{
  margin-top: 0px !important;
}

.m-top-20{
  margin-top: -20px !important;
}
.m-top-15{
  margin-top: -15px !important;
}
.m-top-10{
  margin-top: -10px !important;
}
.m-top-5{
  margin-top: -5px !important;
}
.m-top5{
  margin-top: 5px !important;
}
.m-top10{
  margin-top: 10px !important;
}
.m-top15{
    margin-top: 15px !important;
}
  
.m-top20{
  margin-top: 20px !important;
}

.m-top30{
  margin-top: 30px !important;
}

.m-top40{
  margin-top: 40px !important;
}


.m-top50{
  margin-top: 50px !important;
}

.m-top60{
  margin-top: 60px !important;
}

.m-top80{
  margin-top: 80px !important;
}

.m-right0{
    margin-right: 0px !important;
  }
.m-right5{
  margin-right: 5px;
}

.m-right10{
  margin-right: 10px;
}

.m-right20{
  margin-right: 20px;
}

.m-left5{
  margin-left: 5px;
}

.m-left10{
  margin-left: 10px;
}

.m-left20{
  margin-left: 20px;
}

.m-left25{
  margin-left: 25px;
}

.m-left30{
  margin-left: 30px;
}
/* canh khoảng trống bên trong*/

.p-bot10{
    padding-bottom: 10px !important;
}

.p-bot15{
  padding-bottom: 15px !important;
}

.p-top5{
  padding-top: 5px !important;
}

.p-top10{
  padding-top: 10px !important;
}

.p-top20{
  padding-top: 20px !important;
}

.pad0{
  padding: 0px !important;
}

.pad2{
 padding: 2px !important; 
}

.pad3{
 padding: 3px !important; 
}

.ptop7{
 padding-top: 7px !important; 
}

.pad5{
  padding: 5px !important;
}

.pad6{
 padding: 6px !important; 
}
.pad7{
 padding: 7px !important; 
}


.pad5-2{
 padding: 5px 2px !important; 
}

.pad8{
 padding: 8px !important; 
}

.pad9{
 padding: 8px !important; 
}


.pad10{
  padding: 10px !important;
}
.pad12{
    padding: 12px !important;
}

.pad15{
  padding: 15px !important;
}

.pad20{
 padding: 20px !important; 
}
.p-left0{
    padding-left: 0 !important;
}
.p-left5{
  padding-left: 5px !important;
}
.p-left7{
    padding-left: 7px;
  }
.p-left10{
    padding-left: 10px !important;
}
.p-left15{
    padding-left: 15px !important;
}
.p-right0{
    padding-right: 0px !important;
}
.p-right5{
  padding-right: 5px !important;
}
.p-right10{
    padding-right: 10px !important;
}
.p-right15{
    padding-right: 15px !important;
}


.font9{
  font-size: 9px !important
}

.font10{
  font-size: 10px !important
}

.font11{
  font-size: 11px !important
}

.font12{
  font-size: 12px !important
}

.font13{
  font-size: 13px !important
}

.font14{
  font-size: 14px !important
}

.font16{
  font-size: 16px !important
}
.font18{
  font-size: 18px !important
}
.font20{
  font-size: 20px !important;
}

.font25{
  font-size: 25px !important
}

.font30{
  font-size: 30px !important
}

.font40{
  font-size: 40px !important
}

.font50{
  font-size: 60px !important;
  color: grey;
}

.check20
{
  height: 20px;
  width:20px;
  vertical-align: middle;
}

.check18
{
  height: 18px;
  width:18px;
  vertical-align: middle;
}

.check15
{
  height: 16px;
  width:16px;
  vertical-align: middle;
}



.display-none{
    display: none ;
}

.thutext300, .thutext250, .thutext230, .thutext210, .thutext120, .thutext180  {
    margin: 0px !important;
    padding: 0px !important;
  }

.small {
    font-size: .7rem;
}

.ban-tay{
    cursor: pointer;
}

.ban-tay:hover{
     text-decoration-line: underline; 
}

.noshadow{
    box-shadow: none!important;
}

.noradius {
    border-radius: 0 !important;
}

.noborder {
    border: 0!important;
}

.radius-circle {
    border-radius: 50%;
}

label {
    font-weight: 400;
}

.label {
    display: inline-block;
    padding: .2em .6em;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    margin-left: 5px;
}

.label:empty {
    display: none;
}

button .fa-trash{
    color: #de3c3c !important;
}

/*Table*/
.table th, .table td{
    padding: 1px 2px;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    border: 0;
}

.bg-transparent {
    background-color: transparent!important;
    border:none !important;
}

.bg-primary {
    background-color: #0f9df7!important;
}

.bg-xanh {
    background: linear-gradient(to bottom right, #d0f7da , #ffffff);
}

.bg-yellow {
    background-color: yellow !important;
}

.bg-success {
    background-color: #228B22!important;
}

.bg-info {
    background-color: #3db9dc!important;
}

.waves-effect{
    background-color: #dddddd !important;
    color: #6a966c;
}

.bg-warning {
    background-color: #f1b53d!important;
}

.bg-danger {
    background-color: #fb7e6d!important;
}

.bg-nen {
    background-color: #e9ecef!important;
}

.bg-purple {
    background-color: #9261c6!important;
}

.bg-pink {
    background-color: #ff7aa3!important;
}

.bg-dark {
    background-color: #2b3d51!important;
}

.bg-gray {
    background-color: #6c757d!important;
}

.bg-default {
    background-color: #64b0f2!important;
}
.bg-green {
    background-color: #075f35 !important;
}

.bg-teal{
    background-color: #009688  !important;
}

.bg-gad{
background-image: linear-gradient(to bottom right, #17ab62 , #ffffff);
}

.bg-gad2{
background-image: linear-gradient(to bottom right, #dbf9d6  , #ffffff);
}

.text-do{
  color: #FF4444 !important;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.text-custom {
  color: #64b0f2; }

.text-aqua {
  color: #4980b5 !important; }

.text-grey {
  color: grey !important; }

.text-silver {
  color: silver !important; }

.text-primary {
  color: #0f9df7 !important; }

.text-success {
  color: #28a745  !important; }

.text-info {
  color: #3db9dc !important; }

.text-warning {
  color: #f1b53d !important; }

.text-danger {
  color: #ff5d48 !important; }

.text-purple {
  color: #9728ef; }

.text-pink {
  color: #fd06ff; }

.text-dark {
  color: #2b3d51; }

.text-white {
  color: #ffffff; }

.text-red {
  color: red !important; }  

.text-green {
  color: green !important; }  

.text-muted {
  color: #6c757d  !important }

.text-black {
  color: black !important; }  

.text-xanh {
  color: #009900 !important; }  


.text-sang {
  color: #afb6bc !important; }  


.text-blue {
  color: blue !important; }  

.text-yellow {
  color: yellow !important; } 

/*canh-lề text*/
.text-center{
  text-align: center !important;
  margin:0 auto ;
}  

.text-left{
  text-align: left !important;
}  

.text-right{
  text-align: right !important;
}  

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .2)
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .6)
}

.card-box {
    padding: 20px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid rgba(183, 183, 183, .125)
}

.card-box i {
    font-size: 60px;
    margin-top: 5px;
}

.card-header {
    color: grey;
    border-bottom: 1px solid rgba(111, 111, 111, .13);
    padding: 0.5rem 0.5rem;
    background-color: #d6d6d6;
    font-weight: 500 !important;
    position: relative;
}

.card-header b, .card-header strong{
    font-weight: unset;
}

.card-header:first-child{
    border-radius: 0px !important;
}

.card-header h3 {
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.2rem;
    margin-bottom: 0
}


.card-footer {
    padding: .7rem 1.2rem;
    background-color: #e9eef3;
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.header-title {
    font-size: 1rem;
    text-transform: uppercase
}

.page-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.15rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #eceeef
}

.button-list {
    margin-bottom: -5px;
    margin-left: -7px
}

.button-list a,
.button-list button {
    margin: 5px 7px
}

.w-10{
  width: 10px !important;
}

.w-20{
  width: 20px !important;
}

.w-30{
  width: 30px !important;
}

.w-40{
  width:40px !important;
}

.w-50{
  width:50px !important;
}

.w-60{
  width:60px !important;
}

.w-70{
  width:70px !important;
}

.w-80{
  width:80px !important;
}

.w-90{
  width:90px !important;
}

.w-100{
  width:100px !important;}

.w-110{
  width:110px !important;}

.w-120{
  width:120px !important;
}

.w-130{
  width:130px !important;
}

.w-140{
  width:140px !important;
}

.w-150{
  width:150px !important;
}

.w-230{
    width:230px !important;
}

.w-240{
    width:240px !important;
}
.w-330{
    width: 330px !important;
}

.w20p{
  width:20% !important;
}

.w33p{
  width:33% !important;
}

.w49p{
  width:49% !important;
}

.w50p{
  width:50% !important;
}

.w60p{
  width:60% !important;
}

.w70p{
  width:70% !important;
}

.w100p{
  width:100% !important;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1400px !important;
    }
}
/*-------------------------------------------------------MOBI-------------------------------------------------------------------*/

@media (max-width:768px) {
.an-text{
    display: none;
}

.thu-ngan-ten {
    margin: auto !important;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}
}



/*---------------------------------------------------End mobi--------------------------------------------------------------------------------*/

